<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bar.sharedrecipes"
    android:versionCode="1"
    android:versionName="@string/app_name">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_logo_2"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:roundIcon="@mipmap/my_logo_round2"
        >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.bar.fileprovider3"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_provider" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddRecipe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecipeSummery"
            android:screenOrientation="portrait" />
        <activity android:name=".MyRecipes" />
        <activity android:name=".RecipeDescription" />
        <activity android:name=".NoInternet" />
        <activity android:name=".BiggerPictureActivity"></activity>

    </application>


</manifest>